body {
    background-color: #f2e9de;
}

nav {
    font-family: Montserrat, sans serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #9ccfd8;
    position: fixed;
    height: 100%;
    text-align: center;
}

  
li a {
    display: flex;
    flex-direction: column;
    color: #191724;
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    color: #191724;
    text-align: left;
    padding: 20px;
    font-size: 3rem;
}
  
li a:hover:not(.active) {
    background-color: rgb(176, 164, 164);
    color: #ebbcba;
}

main {
    display: flex;
    flex-direction: column;
}

.flex-item {
    font-family: Montserrat, sans serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img {
    border-radius: 50%;
    width: 100px;
    margin-left: 45%;
    margin-top: 10%;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    margin: 5px;
}

@media screen and (max-width: 575px) {
    form {
        display: block;
}}

ul {
    list-style-type: none;
    border-radius: 50%;
}

ul li {
    padding: .5em;
}

.flex-container {
    display: flex;
    justify-content: center;
    font-family: Montserrat, sans serif;
}

.flex-container > div {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    background-color:#ebbcba;
    padding: 50px;
    margin: 20px;
}

@media screen and (max-width: 575px) {
    .flex-container {
        display: block;
}}

.card a {
    text-decoration: none;
    color: #59546d;
}

button[type=submit] {
    background-color: #9ccfd8;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

button[type=submit]:hover {
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
    button[type=submit]{
        display: block;
        margin: 0.4em auto;
}}

button[type=reset] {
    background-color: #9893a5;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Montserrat',sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

button[type=reset]:hover {
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
    button[type=reset]{
        display:block;
        margin:0.4em auto;
}}

button[type=edit] {
    background-color: #9ccfd8;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Montserrat',sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

button[type=edit]:hover {
    color: #9ccfd8;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
    button[type=edit]{
        display: block;
        margin: 0.4em auto;
}}

button[type=close] {
    background-color: #9893a5;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

button[type=close]:hover {
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
    button[type=close]{
        display:block;
        margin:0.4em auto;
}}



